@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

body {
  font-family: 'Montserrat', sans-serif;
  background: #ecf0f1;
}

header {
  text-align: center;
}

header h1 {
  font-size: 64px;
  font-weight: 300;
  margin: 80px 0 25px;
  color: #2c3e50;
}

header h1 span {
  font-weight: 700;
}

header h2 {
  font-size: 0.75rem;
  color: #9aa1a5;
  font-weight: 300;
}

.form {
  width: 800px;
  margin: 50px auto 20px;
}

#todoInput {
  color: #34495e;
  width: 100%;
  height: 2rem;
  outline: none;
  background: none;
  border: none;
	padding: 20px;
  border-bottom: 1px solid #34495e;
}

ul,
ol {
  list-style-position: inside;
}

.list {
  width: 800px;
	margin: 0 auto;
}

.task {
  color: #34495e;
  padding-left: 0.5rem;
  width: 100%;
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 1rem;
  transition: all 0.3s ease;
  overflow-x: hidden;
}

.task:hover {
  background: rgba(0, 0, 0, 0.03);
  cursor: pointer;
}

.task:hover span {
  opacity: 1;
}

.done {
  text-decoration: line-through;
  color: #bdc3c7;
}

.icon {
  float: right;
  margin-right: 1rem;
  color: #c0392b;
  transition: all 0.3s;
  opacity: 0;
}

.icon i{
	padding-top:10px;
}

.icon:focus {
  border: none;
  outline: 0;
}
